# DB
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Pinecone
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PINECONE_NAMESPACE_RESUMES=
PINECONE_NAMESPACE_JOBS=
PINECONE_REGION=
PINECONE_CONNECTION_STRING=
EMBEDDING_DIMENSIONS=

# AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_S3_BUCKET=
AWS_S3_ENDPOINT_URL=
AWS_BEARER_TOKEN_BEDROCK=
BEDROCK_MODEL_ID=
CDK_DEFAULT_ACCOUNT=
CDK_DEFAULT_REGION=

# Outras
JWT_SECRET=
JWT_EXPIRES_MINUTES=
COOKIE_SECURE=
FRONTEND_ORIGIN=
ENVIRONMENT=
MAX_UPLOAD_BYTES=
VITE_API_URL=
